<h1>Flights</h1>
<div id="extra_box">
    <div class="flight_box1" *ngFor="let f of flightArr">
        <div class="box-style-5">
        Source : {{f.source}} <br>
        Destination : {{f.destination}} <br>
        Departure Date : {{f.departureDate}} <br>
        Departure Time : {{f.departureTime}} <br>
        Arrival Date : {{f.arrivalDate}} <br>
        Arrival Time : {{f.arrivalTime}} <br>
        Fare / Adult : {{f.adultFare}} <br>
        Fare / Child : {{f.childFare}} <br>
    </div>
    </div>
</div>