
    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    body{
      font-family: 'Roboto', sans-serif;
    }
    * {
      margin: 0;
      padding: 0;
    }
    i {
      margin-right: 10px;
    }
    /*----------bootstrap-navbar-css------------*/
    